<article class="clearfix">
	<form class="form-horizontal" name="adRegForm" novalidate
		data-st-submit="register()" data-ng-switch on="companyUser">

		<div data-st-valid-form-elem data-st-label="Wybierz markę"
			data-st-name="brand" data-st-icon="icon-search" data-ng-switch-when="false">
			<input
				readonly="true" type="text" class="form-control"
				placeholder="Wybierz markę" name="brand"
				data-ng-model="selectedBrandName" data-ng-click="openBrandsModal()"
				required="required" style="cursor: pointer" />
		</div>
		<input type="hidden" data-ng-model="regModel.brandId" data-ng-switch-when="false"/>
		<div data-st-valid-form-elem data-st-label="Link" data-st-name="url"
			data-st-icon="icon-facetime-video" data-ng-show="!companyUser" data-ng-switch-when="false">
			<input class="form-control" name="url" placeholder="Link do video"
				data-ng-model="regModel.url" required="required"
				data-ng-pattern="/((^http:\/\/youtu\.be\/(.*)$)|(^http:\/\/www\.youtube\.com\/watch\?v=(.*)$))/" />
		</div>
		<div data-st-valid-form-elem data-st-label="Tytuł"
			data-st-name="title" data-st-icon="icon-pencil">
			<input class="form-control" name="title" placeholder="Tytuł"
				data-ng-model="regModel.title" required="required"
				data-ng-maxlength="120" data-ng-minlength="3" />

		</div>
		<div data-st-valid-form-elem data-st-label="Rok produkcji"
			data-st-name="year" data-st-icon="icon-calendar">
			<input type="number" class="form-control" name="year"
				placeholder="Rok produkcji" data-ng-model="regModel.year"
				required="required" data-max="{{yearMax}}" data-min="1900" />
		</div>
		<div data-st-valid-form-elem data-st-label="Wybierz kategorie"
			data-st-name="tags" data-st-icon="icon-search">
			<ul class="form-control nav nav-pills tag-picker"
				data-ng-click="openTagsModal()">
				<li class="placeholder" data-ng-show="!selectedTags">Wybierz
					kategorie</li>
				<li class="label label-primary label-sm"
					data-ng-repeat="tag in possibleTags |filter:{selected:true}">{{tag.name}}
					<i class="icon-remove" data-ng-click="click(tag, $event)"
					style="z-index: 100"></i>
				</li>
			</ul>
		</div>

		<input type="text" data-ng-model="selectedTags" name="tags"
			required="required" style="display: none" />
		<div data-st-valid-form-elem data-st-label="Opis"
			data-st-name="description" data-st-icon="icon-edit">
			<textarea name="description" class="form-control"
				placeholder="Opisz jak najwięcej szczegółów" rows="5"
				required="required" data-ng-model="regModel.description"
				data-ng-maxlength="512"></textarea>
		</div>
		<div class="form-group">
			<div class="col-sm-7 col-sm-offset-4">
				<label class="control-label checkbox-inline"> <input
					type="checkbox" name="adults" data-ng-model="regModel.ageProtected" />Dla
					dorosłych
				</label>
			</div>
		</div>
		
		<div class="form-group has-error" >
			<div class=" col-sm-7 col-sm-offset-4">
				<button type="submit" class="btn btn-sm btn-success" ng-show="!adRegForm.$valid || !companyUser">Dodaj
					reklamę</button>
				<div id="wistia-upload-widget" ng-show="adRegForm.$valid && companyUser"></div>
			</div>
			<span class="help-block col-sm-7 col-sm-offset-4 hidden" id="upload-file-error"></span>
		</div>

	</form>

</article>
<script type="text/ng-template" id="tagsBrandsPickerModal.html">

    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header ">
   
            <div class="form-group">
                   <h4 class="control-label col-sm-4">{{title}}</h4>
    <div class="input-group ">
                    <span class="input-group-addon"><i class="icon-search"></i></span>
                    <input type="text" class="form-control " placeholder="Wybierz markę" name="brand" data-ng-model="term"/>
                </div>
            </div>
        </div>
        <div class="modal-body" data-ng-show="(items | filter:term).length > 0">

    
            <ul class="nav nav-pills nav-three-column row">
                <li ng-class="{'active': item.selected}" ng-repeat="item in items | filter:term" ng-click="click(item)">
                    <a>{{ item.name }}</a>
                </li>
            </ul>
          
        </div>
      <button data-ng-show="type == 1" class="btn btn-block btn-success" data-ng-click="ok()">Ok</button>
    </div>
</div>
</script>


