<article class="clearfix">              
<form class="form-horizontal col-sm-12"  name="userProfileForm" novalidate data-st-submit="update()">
                        <div class="form-group" >
                            <label class="col-sm-4 control-label">Nazwa użytkownika</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{currentUser.displayName}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{profileModel.email}}</p>
                            </div>
                        </div>
                        <div data-st-valid-form-elem data-st-label="Nazwa uzytkownika" data-st-name="name" data-st-icon="icon-user">     
                                <input id="firstname" class="form-control " data-ng-model="profileModel.name"/>
                        </div>
                        <div data-st-valid-form-elem data-st-label="Nazwa uzytkownika" data-st-name="surname" data-st-icon="icon-user">  
                                <input id="surname" class="form-control " data-ng-model="profileModel.surname"/>
                        </div>
     <div class="form-group">
                <div class=" col-sm-7 col-sm-offset-4">
                <button type="submit" class="btn btn-sm btn-success">Zaktualizuj</button>
                        </div>
            </div>
                    </form>
    </article>      