<article class="clearfix">
    <form class="form-horizontal" name="changePassForm" novalidate data-st-submit="change()">

        <div data-st-valid-form-elem data-st-label="Stare hasło" data-st-name="oldPassword" data-st-icon="icon-lock">  
                <input type="password" name="oldPassword" class="form-control" placeholder="Stare hasło" data-ng-model="changePassModel.oldPassword"
                    required data-ng-minlength="6" data-ng-maxlength="20" data-ng-pattern="/[0-9a-zA-Z,.-=;'!@#$%^&*()_]+$/" />
            
        </div>
        <div data-st-valid-form-elem data-st-label="Nowe hasło" data-st-name="newPassword" data-st-icon="icon-lock">     
                <input type="password" name="newPassword" class="form-control" placeholder="Nowe hasło" data-ng-model="changePassModel.password"
                    required data-ng-minlength="6" data-ng-maxlength="20" data-ng-pattern="/[0-9a-zA-Z,.-=;'!@#$%^&*()_]+$/" />
        </div>

              <div data-st-valid-form-elem data-st-label="Powtórz hasło" data-st-name="confirmPassword" data-st-icon="icon-lock">     
                <input type="password" name="confirmPassword" data-ng-model="changePassModel.confirmPassword" class="form-control"
                    placeholder="Powtórz hasło" data-st-field-match="changePassModel.password" />
        </div>




        <div class="form-group">
            <div class=" col-sm-7 col-sm-offset-4">
                <button type="submit" class="btn btn-sm btn-success">Zmień hasło</button>
            </div>
        </div>


    </form>
</article>
