html {
	font: 81.25% arial, helvetica, sans-serif;
	color: rgb(112, 112, 112);
	line-height: 1.2;
	font-size: 14px;
}

html,body {
	background: #3e3e3e;
	z-index: -100;
}

input[disabled] {
	opacity: 0.2;
	cursor: auto;
}

input[type="text"],input[type="date"],input[type="email"],input[type="password"],textarea
	{
	height: 30px;
	width: 330px;
	border: 1px solid #1a91dd;
	padding-left: 10px;
}

#captcha-img {
	border: 1px solid #1a91dd;
}

input[type="text"],input[type="date"],input[type="email"],input[type="password"],textarea,select
	{
	background: #b5b5b5;
	color: #000000;
}

textarea {
	padding-top: 10px;
}

progress {
	width: 330px;
	border: 1px solid #1a91dd;
	background: #b5b5b5;
}

::-webkit-input-placeholder {
	color: #000000
}

:-moz-placeholder { /* Firefox 18- */
	color: #000000
}

::-moz-placeholder { /* Firefox 19+ */
	color: #000000
}

:-ms-input-placeholder {
	color: #000000
}

textarea {
	height: 140px;
}

input,textarea,progress {
	margin: 5px 0 15px 0;
}

label {
	color: #1a91dd;
	padding-left: 10px;
	display: inline-block;
	width: 100%;
}

a {
	color: rgb(112, 112, 112);
	text-decoration: none;
}

#wrapper {
	position: absolute;
	width: 100%;
}

.full-width {
	width: 100%;
}

.page {
	position: relative;
	max-width: 960px;
	min-width: 960px;
	margin: auto;
}

/*menu*/
#top-bar-separator {
	background-color: #5e793d;
	height: 90px;
	top: 0px;
	left: 0px;
}

#top-bar {
	position: relative;
	background-color: #000000;
	width: 100%;
	height: 80px;
}

#spotnik-logo {
	margin-top: 15px;
	margin-bottom: 10px;
}

#top-bar-menu {
	position: relative;
	width: 100%;
}

.right {
	position: absolute;
	right: 0px;
	margin: 0px;
}

.color-imp,.color-imp>a {
	color: #c4c4c4;
}

.left {
	float: left;
}

/* .right { */
/* 	float: right; */
/* } */
.smaller-font {
	font-size: 12px;
}

.small-font {
	font-size: 10px;
}

.bigger-font {
	font-size: 18px;
}

.avatar {
	max-width: 43px;
	max-height: 43px;
	margin-right: 5px;
}
/*content*/
.video-header {
	margin-bottom: 15px;
}

.center-article-wrapper,#right-panel {
	background-color: #151515;
	padding: 20px 15px 20px 15px;
}

.center-article-wrapper {
	position: relative;
	margin-bottom: 20px;
}

#center-panel,#right-panel {
	position: absolute;
	margin-top: 20px;
	z-index: -1;
}

#center-panel {
	width: 620px;
}

#right-panel {
	width: 310px;
}

.video {
	width: 620px;
	height: 352px;
	position: absolute;
	left: 0px;
}

.user-data {
	float: left;
	width: 220px;
	padding-top: 5px;
}

.video-footer {
	position: relative;
	margin-top: 365px;
	width: 100%;
}

.video-user-date-wrapper {
	margin-top: 10px;
}

.video-footer-nav {
	position: absolute;
	height: 25px;
	width: 300px;
	top: 30px;
}

.clear {
	clear: both;
}

.rating-wrapper {
	float: right;
	line-height: 1.5;
}

.star {
	/* 	background: url("/ad-web/resources/img/bg.png"); */
	/* 	background-position: 0px -32px; */
	/* 	width: 32px; */
	/* 	height: 32px; */
	/* 	float: left; */
	/* 	margin-left: 5px; */
	
}

.small-star,.small-star-selected {
	background: url("/ad-web/resources/img/bg.png");
	width: 20px;
	height: 21px;
	display: inline-block;
}

.small-star {
	background-position: 0px -89px;
}

.small-star-selected {
	background-position: 0px -67px;
}

.rating-panel .small-star,.rating-panel .small-star.selected,.star,.clicker
	{
	cursor: pointer;
}

.rate {
	float: left;
	margin-top: 5px;
}

.under-star {
	float: right;
	margin-right: 8px;
}

.ad-separator {
	height: 1px;
	color: #a0a0a0;
	margin: 5px 0 5px 0;
	opacity: 0.4;
}

.left-list-item-wrapper {
	margin-top: 5px;
}

.left-list-item-photo {
	width: 107;
	hegith: 72;
	margin-right: 10px;
}

.left-rating-wrapper {
	line-height: 1.5;
	float: left;
}

.social-plugin-holder {
	position: absolute;
	z-index: 100;
	top: 420px;
	left: 250px;
}

.form {
	position: relative;
	margin: 20px 135px 20px 135px;
}

.button-green,.button-blue,.button-red,.wistia-upload-widget>div.upload-button
	{
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	padding: 5px 20px 5px 20px;
	margin: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
}

.wistia-upload-widget>div.upload-button {
	width: initial;
	height: initial;
	border: none;
}

.wistia-upload-widget>div.upload-button>a {
	line-height: initial;
}

.button-green {
	background-color: #5e793d;
}

.button-blue {
	background-color: #0f3a6f;
}

.button-red {
	background-color: #c80f0f;
}

#form-buttons {
	margin: 20px 0 0px 0;
}

#register-link {
	color: #c80f0f;
	position: absolute;
	right: 0px;
	top: 120px;
}

#forget-password {
	color: #1a91dd;
	position: absolute;
	left: 10px;
	top: 120px;
}

.logged-user-wrapper {
	bottom: -15px;
}

#user-dropdown-menu {
	background-color: #5e793d;
	z-index: 100;
	padding: 5px 2px 5px 2px;
}

#user-dropdown-menu li {
	float: none;
	text-align: center;
	padding: 5px 5px 5px 5px;
	margin-right: 0px;
}

#top-bar-menu .last-right {
	margin-right: 0px;
}

#logged-user-holder {
	text-align: right;
}

#logged-user-photo {
	position: relative;
	bottom: 20px;
	max-width: 35px;
	max-height: 35px;
	margin-left: 5px;
	vertical-align: top;
}

.post-list {
	position: relative;
}

.post-list>li {
	border-bottom: 1px solid rgba(160, 160, 160, 0.4);
	width: 100%;
	margin-bottom: 10px;
}

.post-list>li,.post-children>li {
	margin-right: 0px;
}

.post-children>li {
	border-top: 1px solid rgba(160, 160, 160, 0.4);
	padding-top: 10px;
	width: 100%;
}

.post-children {
	margin-top: 25px;
}

.bottom-video-panel {
	padding-top: 5px;
	border-top: 1px solid rgba(160, 160, 160, 0.4);
	width: 100%;
	margin-top: 10px;
}

.post-footer {
	margin-top: 5px;
}

.post-content,.comment-box-holder,.post-children {
	margin-left: 48px;
}

.comment-box-holder,.inform-box-holder {
	margin-bottom: 25px;
}

.message-holder {
	padding-top: 5px;
}

.comment-box {
	resize: vertical;
	margin: 0px;
	width: 100%;
	border: none;
}

.rating-panel {
	position: absolute;
	right: 4px;
	top: 32px;
	background-color: #151515;
}

#vote-input-from,#vote-input-to {
	border: none;
	height: 20px;
	width: 75px;
	margin: 2px 0px 2px 0px;
	padding-left: 2px;
}

#year-filter,#vote-filter,#rank-filter {
	float: left;
}

#rank-filter {
	width: 180px;
}

#vote-filter {
	width: 290px;
}

#year-filter {
	width: 120px;
}

.inline-label {
	margin-right: 10px;
}

.arrow-down-white,.arrow-up-white {
	display: none;
}

#brand-selector-dropdown {
	background-color: #b5b5b5;
	color: #000000;
	width: 330px;
	border: 1px solid #1a91dd;
	padding-left: 10px;
}

.left-article-wrapper {
	padding: 10px 5px 10px 5px;
}

.left-article-wrapper:hover {
	opacity: 0.8;
}

.left-list-item-photo {
	width: 100px;
	height: 60px;
}

.full-width {
	width: 100%;
}

.wrap-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.admin-panel {
	margin: 20px 100px 10px 100px
}

#pagination {
	margin: 0;
	display: inline-block;
	position: relative;
}

#pagination-wrapper {
	text-align: center;
}

#paggination-button-next {
	width: 100%;
	margin-bottom: 15px;
}

label.error {
	margin: 5px 10px 10px 0;
	color: #c80f0f;
	width: 100%;
	display: inline-block;
}

input.error,ul.error {
	margin-bottom: 0;
	border: #c80f0f 2px solid;
}

#wistia-upload-widget {
	margin-bottom: 15px;
}

.checkbox-radio-wrapper label {
	width: initial;
}

#avatar-chooser {
	cursor: pointer;
}

ul.column,#selected-filters>li#place-selected-filters,#selected-filters>li#year-selected-filters,#selected-filters>li#rank-selected-filters,#selected-filters>li#vote-selected-filters
	{
	width: 160px;
	margin-right: 15px
}

#place-selected-filters>.close,#year-selected-filters>.close,#rank-selected-filters>.close,#vote-selected-filters>.close
	{
	float: none;
}

ul.filters-item-list li {
	width: 160px;
}

#selected-filters>li.on,#selected-filters-2>li.on {
	display: inline-block;
}

li.on>div.arrow-down-white,li.on>div.arrow-up-white {
	display: inline-block;
}

.arrow-down-white,.arrow-up-white {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin-left: 4px;
	margin-bottom: 2px;
}

.arrow-up-white {
	border-bottom: 5px solid #ffffff;
}

.arrow-down-white {
	border-top: 5px solid #ffffff;
}

#sort-filters {
	float: right;
}

#sort-filters-holder {
	margin-top: 10px;
	width: 100%;
}

ul.styled li {
	cursor: pointer;
	color: rgb(112, 112, 112);
	float: left;
	margin-right: 15px;
}

ul.styled li.on,ul.styled li.on:hover,ul.styled li:hover,#selected-filters li>ul.styled li.on>.close,#selected-filters-2 li>span.value:hover
	{
	color: #ffffff;
}

ul.styled li:hover,ul.styled li.on:hover,#selected-filters-2 li>div.close:hover
	{
	opacity: .8
}

ul.styled li.hover-opacity-none:hover {
	opacity: 1;
}

li.on .close {
	display: inline-block;
	margin-left: 10px;
}

ul.styled li>a {
	color: inherit;
}

#top-bar-menu li {
	font-family: Candara, serif;
	margin-right: 20px;
	font-size: 16px;
	color: #c4c4c4;
}

#top-bar-menu li:hover,#top-bar-menu li.active:hover {
	opacity: 1;
	color: #ffffff;
}

#top-bar-menu li.active {
	color: #92d53c;
}

#selected-filters li>ul li.on,#selected-filters-2 li>span.value {
	color: rgb(112, 112, 112);
}

.close {
	display: none;
	float: right;
	font-weight: bold;
	text-shadow: #ffffff;
	font-weight: bold;
}

ul.column {
	float: left;
	display: block;
}

#selected-filters>li,#selected-filters-2>li {
	margin-bottom: 5px;
	display: none;
}

#filters-menu {
	display: inline-block;
}

#filters>div {
	margin-top: 15px;
}

#selected-filters>li {
	width: 100%;
}

#sort-filters-holder {
	margin-bottom: 10px;
}

.company-brand-img{
	max-width:250px;
	max-height:90px;
}

.company-brand-img-holder {
	float: left;
	display: inline-block;
	max-width: 260px;
	margin: 5px 15px 5px 0px;
	text-align: center;
}

.margin-left {
	margin-left: 5px;
}

#company-ad-brand-button {
	margin-top: 20px;
}

.disabled {
	opacity: 0.5;
	cursor: default;
}

.company-brand-img-name {
	margin: 30px 0 0 15px;
}

.info-table {
	padding-top: 15px;
	clear: both;
}

.info-table td {
	padding-bottom: 10px;
}

.info-table td.first {
	min-width: 120px;
	padding-right: 10px;
}

.info-table td.last {
	width: 100%;
}

#brand-admin-menu {
	margin-bottom: 15px;
}

.ad-brand-logo {
	max-width: 120px;
	max-height: 40px;
}

.ad-brand-logo-pos {
	position: absolute;
	right: 15px;
	top: 10px;
}