<article class="clearfix">
	<form class="form-horizontal" novalidate data-st-submit="submit()"
		name="regForm">
		<div data-st-valid-form-elem data-st-label="Odpowiedź"
			data-st-name="answer" data-st-icon="icon-edit">
			<textarea name="answer" class="form-control"
				placeholder="Podaj odpwiedź zgodnie z opisem konkursu..." rows="5"
				required="required" data-ng-model="regModel.answer"
				data-ng-maxlength="512"></textarea>
		</div>
		<div class="form-group">
			<div class=" col-sm-7 col-sm-offset-4">
				<button type="submit" class="btn btn-sm btn-success">Dodaj odpowiedź</button>
			</div>
		</div>
	</form>
</article>