
<article class="clearfix col-sm-12" data-ng-repeat="brand in brands">
	<div
		class="thumbnail clearfix right-caption col-sm-12 margin-top margin-bottom">
		<img data-ng-src="{{brand.logoUrl}}" class="brand-image" />
		<div class="">
			<h3 class="wrap-text  list-group-item-heading">
				<a href="#!/marki/{{brand.id}}/{{brand.urlSafeName}}" class="text-info">{{brand.name}}</a>
			</h3>
			<p class="list-group-item-text contest-description">{{brand.description}}</p>
		</div>
	</div>
</article>
<article class="clearfix text-center" data-ng-show="smallnumPages > 1">
	<pagination direction-links="false" total-items="total"
		page="currentPage" num-pages="smallnumPages" max-size="10"
		items-per-page="5" on-select-page="selectPage(page)"></pagination>
	<button class="btn btn-block btn-sm btn-danger"
		data-ng-click="currentPage = currentPage + 1; selectPage(currentPage)"
		data-ng-show="currentPage < smallnumPages">Dalej</button>
</article>