
<article class="clearfix col-sm-12" data-ng-show="model.singleAd">
	<ul class="nav nav-pills col-sm-12">
		<li data-ng-show="model.singleAd && model.singleAd.parentId"><a
			data-st-href="#!/reklamy/{{model.singleAd.parentId}}/">Pokaż
				pierwotną reklamę</a></li>
		<li><a href="#!/przegladaj?parentId={{model.singleAd.id}}">Pokaż
				odpowiedzi</a></li>
		<li><a href="#!/reklamy/{{model.singleAd.id}}/odpowiedz">Dodaj
				odpowiedź wideo</a></li>
		<li><a
			data-st-href="#!/marki/{{model.singleAd.brand.id}}/{{model.singleAd.brand.name}}">{{model.singleAd.brand.name}}</a></li>
	</ul>
</article>

<article class="clearfix"
	data-ng-repeat="ad in model.ads track by $index"
	data-ng-controller="AdCtrl">
	<div class="row">
		<div class="col-sm-12">
			<div class=" col-sm-8">
				<a data-st-href="#!/reklamy/{{ad.id}}/{{ad.title}}"
					title="{{ad.title}}"><h2 class="text-info wrap-text">{{ad.title}}</h2></a>
			</div>
			<div class=" col-sm-4 margin-top"
				data-ng-show="ad.official && ad.brand.smallLogoUrl">
				<a data-st-href="#!/marki/{{ad.brand.id}}/{{ad.brand.name}}"
					class="pull-right "><img
					data-ng-src="{{ad.brand.smallLogoUrl}}" class="brand-ad-img"></a>
			</div>
		</div>
	</div>
	<div class="row pos-relative" data-ng-mouseenter="sh = true"
		data-ng-mouseleave="sh = false">
		<div class="col-sm-12 ">
			<div class="flex-video widescreen">

				<div data-ng-if="currentUser.adult || !ad.ageProtected">
					<div data-ng-if="!(model.singleAd)">
<!-- 						<iframe width="620" height="349" -->
<!-- 							data-ng-src="{{ad.videoData.iframeVideoUrl}}" frameborder="0" -->
<!-- 							allowfullscreen></iframe> -->
<div data-click-iframe></div>
					</div>
					<div
						data-ng-if="model.singleAd && ad.videoData.provider == 'WISTIA'"
						data-wistia-embedded></div>
					<div
						data-ng-if="model.singleAd && ad.videoData.provider == 'YOUTUBE'">
						<div itemprop="video" itemscope
							itemtype="http://schema.org/VideoObject">
							<meta itemprop="name" content="{{ad.title}}" />
							<meta itemprop="thumbnailUrl"
								content="{{ad.videoData.bigThumbnail}}" />
							<meta itemprop="contentURL" content="{{ad.videoData.videoUrl}}" />
							<object width="620" height="349">
								<param name="movie"
									value="{{ad.videoData.videoUrl}}"></param>
								<param name="allowFullScreen" value="true"></param>
								<param name="allowscriptaccess" value="always"></param>
								<embed embed-src="{{ad.videoData.videoUrl}}"
									type="application/x-shockwave-flash" width="620" height="349"
									allowscriptaccess="always" allowfullscreen="true"></embed>
							</object>
							<noscript itemprop="description">{{ad.description}}</noscript>
						</div>
					</div>
				</div>
				<div data-ng-if="!(currentUser.adult || !ad.ageProtected)">
					<img src="/resources/img/18.png" />
				</div>

			</div>
		</div>
		<div class="tooltip left social-bar-tooltip" data-ng-class="{in: sh}">
			<div class="tooltip-inner">
				<a data-st-new-window
					data-st-href="http://www.facebook.com/sharer/sharer.php?u=http://www.spotnik.pl/%23!/reklamy/{{ad.id}}/{{ad.title}}"><img
					src="/resources/img/facebook.png" /><br /></a> <a data-st-new-window
					data-st-href="https://twitter.com/intent/tweet?url=http://www.spotnik.pl/%23!/reklamy/{{ad.id}}/{{ad.title}}"><img
					src="/resources/img/twitter.png" /><br /></a> <a data-st-new-window
					data-st-href="https://plus.google.com/share?url=http://www.spotnik.pl/%23!/reklamy/{{ad.id}}/{{ad.title}}"><img
					src="/resources/img/google_plus.png" /><br /></a> <a
					data-st-new-window
					data-st-href="http://www.wykop.pl/dodaj/link/?url=http://www.spotnik.pl/%23!/reklamy/{{ad.id}}{{ad.title}}&title={{ad.title}}&desc={{ad.description}}"><img
					src="/resources/img/wykop.png" style="margin-top: 1px" /><br /></a>
			</div>
			<div class="tooltip-arrow"></div>
		</div>
	</div>

	<div class="row  margin-top">
		<div class="col-sm-4 col-xs-5">
			<div class="thumbnail thumbnail-avatar right-caption">
				<img class="avatar img-rounded hidden-xs"
					data-ng-src="{{ad.user.userData.imageUrl}}" />
				<div class="caption">
					<a href="#!/uzytkownik/{{ad.user.id}}/reklamy">{{ad.user.displayName}}</a><br />
					<small>{{ ad.creationDate | date:'dd.MM.yyyy o HH:mm' }}</small>
				</div>
			</div>
		</div>
		<div class=" col-xs-4 hidden-xs">
			<ul class="nav nav-justified nav-pills hidden-xs">
				<li data-ng-class="{on : bottomVideoPanelView==description}"><a
					data-ng-click="bottomVideoPanelView = 'description'">Opis</a></li>
				<li data-ng-class="{on : bottomVideoPanelView==comments}"><a
					data-ng-click="bottomVideoPanelView = 'comments'">Komentarze</a></li>
				<li data-ng-class="{on : bottomVideoPanelView==inform}"><a
					data-ng-click="bottomVideoPanelView = 'inform'">Zgłoś</a></li>
			</ul>
		</div>
		<div class=" col-sm-4 col-xs-7 rating pos-relative"
			data-ng-controller="RatingCtrl">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-12">
						<div class="pull-right">
							<rating value="rate" max="max" state-on="'icon-star icon-large'"
								state-off="'icon-star-empty icon-large'" readonly="isReadonly"
								on-hover="hoveringOver(value)" on-leave="onLeave()"
								on-click="onClick(ad, value)"></rating>
							<span class="label"
								data-ng-class="{'label-info': labelValue==0, 'label-default': labelValue==1, 'label-primary':  labelValue==2, 'label-success':  labelValue==3, 'label-warning': labelValue ==4, 'label-danger': labelValue == 5}"
								data-ng-show="!isReadonly">{{overStar ||ad.rank |
								number:2}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-12">
						<span class="text-small pull-right vote-count" 
							data-ng-show="ad.voteCount >= 100">{{ad.voteCount}} głosów</span> <span
							class="text-small pull-right vote-count" 
							data-ng-show="ad.voteCount < 100">mniej niż 100 głosów</span>
					</div>
				</div>
			</div>
			<div class="tooltip bottom ranking-tooltip" data-st-timeout-tooltip
				data-st-on="RANKED" data-timeout="5000">
				<div class="tooltip-inner">Dzięki!</div>
				<div class="tooltip-arrow"></div>
			</div>
		</div>

	</div>
	<div class="row margin-bottom">

		<div data-ng-show="bottomVideoPanelView == 'comments'"
			class="col-sm-12">
			<div class="fb-comments col-sm-12"
				data-st-href="http://www.spotnik.pl/#!/reklamy/{{ad.id}}/{{ad.title}}"
				data-width="590" data-num-posts="20" data-colorscheme="dark"></div>
		</div>
		<div data-ng-show="bottomVideoPanelView == 'inform'"
			class=" col-sm-12">
			<div class=" col-md-12 form-group">
				<textarea class="form-control" data-ng-model="adModel.abuseMessage"
					placeholder="Podaj jak najdokładniejszy powód zgłoszenia..."></textarea>
			</div>
			<div class=" col-md-12">
				<button class="btn btn-danger btn-sm btn-block"
					data-ng-click="reportAbuse()">Zgłoś</button>
				<div class="tooltip bottom abuse-tooltip" data-st-timeout-tooltip
					data-st-on="REPORT_ABUSE" data-timeout="5000">
					<div class="tooltip-inner">Przyjeliśmy Twoje zgłoszenie</div>
					<div class="tooltip-arrow"></div>
				</div>
			</div>


		</div>
		<div class=" col-sm-12"
			data-ng-show="bottomVideoPanelView == 'description'">
			<p class="text-left  col-md-12" data-ng-bind="ad.description"></p>

		</div>
	</div>
	<div class="row margin-bottom" data-ng-controller="AdAdminPanelCtrl"
		data-st-access-show="hasRole('admin')">
		<div class="text-center">
			<button class="btn btn-sm"
				data-ng-class="{'btn-success': ad.place == 'MAIN', 'btn-primary': ad.place == 'WAITING'}"
				data-ng-click="changePlace(ad, 0, 'MAIN')">Główna</button>
			<button class="btn btn-sm"
				data-ng-class="{'btn-success': ad.place == 'WAITING', 'btn-primary': ad.place == 'MAIN'}"
				data-ng-click="changePlace(ad, 1, 'WAITING')">Poczekalnia</button>
			<button class="btn btn-sm"
				data-ng-class="{'btn-success': ad.approved, 'btn-primary': !ad.approved}"
				data-ng-click="changeApproved(ad)">Aktywna</button>
			<button class="btn btn-sm"
				data-ng-class="{'btn-success': ad.ageProtected, 'btn-primary': !ad.ageProtected}"
				data-ng-click="changeAgeProtected(ad)">Dla dorosłych</button>
		</div>
	</div>
</article>
<article class="clearfix text-center"
	data-ng-show="smallnumPages > 1 && $parent.model.ads.length > 0"
	data-ng-controller="PagingCtrl">

	<pagination direction-links="false" total-items="total"
		page="currentPage" num-pages="smallnumPages" max-size="10"
		items-per-page="10" on-select-page="selectPage(page)"></pagination>
	<button class="btn btn-block btn-sm btn-danger"
		data-ng-click="currentPage = currentPage + 1; selectPage(currentPage)"
		data-ng-show="currentPage < smallnumPages">Dalej</button>
</article>

